name: name: Deploy CloudFormation S3

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - "s3-bucket.yml"
      - ".github/workflows/**"

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy stack
        run: |
          aws cloudformation deploy \
            --stack-name ${{ secrets.CFN_STACK_NAME }} \
            --template-file s3-bucket.yml \
            --parameter-overrides BucketName=${{ secrets.BUCKET_NAME }}
